{% extends 'shared/base.html' %}
{% load static %}


{% block content %}

    <h1 class="text-center">Zehn unglaubliche Fakten über Bulgarien</h1>
    <div class="container">
        <h4>1. Der älteste goldene Schatz</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/goold.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>In Varna wurde der älteste Goldschatz der Welt entdeckt. 1972 Fast 300 Gräber wurden in einer
                    Nekropole im Industriegebiet der Schwarzmeerhauptstadt Bulgariens gefunden. Die Artefakte sind von
                    4600 - 4200. BC! Der Schatz besteht aus insgesamt 3.000 Gegenständen und wiegt sechs Kilogramm.</p>
                <a href="https://en.wikipedia.org/wiki/Bulgar_calendar">Mehr Info</a>

            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <h4>2. Der genaueste Kalender der Welt</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/calendar.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>In 1976 erklärte die UNESCO den Bulgarischen Kalender zum genauesten der Welt.</p>
                <a href="https://en.wikipedia.org/wiki/Bulgar_calendar">Mehr Info</a>
            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <h4>3. Bulgarischer Joghurt ist der beste der Welt</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/jogurt.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Das Bakterium Lactobacillus bulgaricus kommt nur in Bulgarien vor.</p>
                <a href="https://en.wikipedia.org/wiki/Lactobacillus_delbrueckii_subsp._bulgaricus">Lactobacillus bulgaricus</a>
            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <h4>4. Bulgarien Rosenöl</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/rosenoel.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Bulgarien produziert bis zu 85 % des Rosenöls der Welt. Die im Bulgarischen Rosental (Kazanlak) angebauten Positionen sind der Hauptbestandteil der Parfümherstellung.</p>
                <a href="https://de.wikipedia.org/wiki/Rosental_(Bulgarien)">Rosental</a>
            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <h4>5. Bulgarische Folklore das achte Weltwunder</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/folclor.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Das bulgarische Volkslied entstand vor vielen Jahrhunderten. Die bulgarische Volkskunst reicht bis in die Antike zurück.
Die ersten Volkslieder und Sänger wurden zwischen dem 9. und 10. Jahrhundert entdeckt und geschaffen. Die meisten Volkslieder sind aus 3-4 Jahrhunderten erhalten.
Das bekannteste Lied "<a href="https://www.youtube.com/watch?v=SDEH01DnFtg">Izlel e Delio haidutin</a>" stammt aus der Region Rhodopen. Das Lied der Frau mit der größten Stimme Valya Balkanska</p>
                <a href="https://de.wikipedia.org/wiki/Folklore">Mehr Info</a>
            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <h4>6. Nestinarstvo</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/nestinarstvo.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>In den bergigen Teilen Bulgariens nahe der Grenze zur Türkei und Griechenland praktizieren die Einheimischen noch immer ein Ritual namens Feuerbekämpfung. Männer und Frauen verfallen in Trance, gehen und tanzen auf der Glut.</p>
                <a href="https://en.wikipedia.org/wiki/Anastenaria">Mehr Info</a>
            </div>
        </div>
    </div>
    <br>
     <div class="container">
        <h4>7. Kukeri</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/kukeri.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Während der Wintermonate kleiden sich in Dörfern und Städten in ganz Bulgarien Gruppen von Männern, Frauen und manchmal sogar Kindern in seltsamen Kostümen für Ausländer, das sind die Mummer. Mit schweren Glocken und riesigen Hüten oder Masken geschmückt, machen sie Lärm, um böse Geister zu verscheuchen und eine gute Ernte zu erzielen.</p>
                <a href="https://de.wikipedia.org/wiki/Kukeri">Mehr Info</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>8. Rafaels Kreuz</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/rafailov_krust.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Das Raphaelkreuz ist ein berühmtes Holzkreuz, das im <a href="https://de.wikipedia.org/wiki/Kloster_Rila">Rila-Kloster</a> aufbewahrt wird. Es gilt als der Höhepunkt der Miniaturschnitzerei im Kloster, ein Meisterwerk der Holzschnitzerei in Bulgarien und auf der ganzen Welt.</p>
                <a href="https://en.wikipedia.org/wiki/Rafail%27s_Cross">Mehr Info</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>9. Der erste digitale Computer der Welt</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/computer.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Der Erfinder des ersten digitalen Computers der Welt im Jahr 1937, <a href="https://de.wikipedia.org/wiki/John_Atanasoff">John Vincent Atanasoff</a>, war ein Bulgare.</p>
                <a href="https://de.wikipedia.org/wiki/Atanasoff-Berry-Computer">Mehr Info</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>10. Bulgarien hat seine Juden gerettet</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="imgAbt">
                    <img width="300" height="220" src="{% static 'images/facts/juden.jpg' %}"/>
                </div>
            </div>
            <div class="col-md-8">
                <b>Bezeichnung:</b>
                <p>Das einzige Land der Welt, das seine Juden während des Zweiten Weltkriegs rettete. Trotz der Tatsache, dass das Land an der Seite Deutschlands steht, wurde noch nie ein Jude in ein Konzentrationslager transportiert.</p>
                <a href="https://de.wikipedia.org/wiki/Rettung_der_bulgarischen_Juden">Mehr Info</a>
            </div>
        </div>
    </div>



{% endblock %}