{% extends 'shared/base.html' %}

{% block content %}

    <h3 class='text-center'>die Zehn schönsten Bergorte in Bulgarien</h3>

    <div class="row">
        {% for mountain in mountains %}
            <div class="col-lg-4">
                <h5 class="card-title">{{ mountain.id }}. {{ mountain.Name }}</h5>
                <div class="card" style="width: 18rem;">
                    <img src="{{ mountain.Bild.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{ mountain.Bezeichnung }}</p>
                        <a href="{{ mountain.source.url }}" class="btn btn-primary">Mehr info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <br>
    {% if request.user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'create mountain' %}">Erstellen Abenteuer in den Bergen</a>
    {% else %}
        <a class="btn btn-primary" href="{% url 'sign in' %}">Erstellen Abenteuer in den Bergen</a>
    {% endif %}
    </div>


{% endblock %}