{% extends 'shared/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <form method="post" class="furniture-form" action="{% url 'update mountain' mountain.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Aktualisiren</button>
    </form>

{#    <form method="post" action="{% url 'create source' %}">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">#}
{#        <br>#}
{#        <button type="submit" class="btn btn-success">Witer</button>#}
{##}
{#    </form>#}


{#    <form method="post" action="{% url 'create source' %}">#}
{#        {% csrf_token %}#}
{#        {{ form|crispy }}#}
{#        <label for="basic-url">URL</label>#}
{#        <div class="input-group mb-3">#}
{#            <div class="input-group-prepend">#}
{#                <span class="input-group-text" id="basic-addon3">https://</span>#}
{#            </div>#}
{#            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">#}
{#        </div>#}
{#        <br>#}
{#        <button type="submit" class="btn btn-success">Erstellen</button>#}
{#    </form>#}



{% endblock %}